.header {
  height: 4rem;
}

.header nav {
  background-color: var(--White);
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  position: relative;
  z-index: 10;
}

.header__logo > img {
  width: 8.8125rem;
  height: 1.375rem;
  margin-top: 0.5rem;
}

.header__menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: var(--Grayish_Blue);
  transition: 400ms ease-in-out;
}

.header__menu > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu.open > span {
  transition: 600ms ease-in-out;
}

.header__menu.open > span:first-child {
  transform: rotate(45deg) translateX(5px) translateY(5px);
}

.header__menu.open > span:nth-child(2) {
  opacity: 0;
}

.header__menu.open > span:last-child {
  transform: rotate(-45deg) translateX(5px) translateY(-5px);
}

.header__links > a {
  font-size: 0.875rem;
  color: var(--Grayish_Blue);
  transition: color 300ms ease-in-out;
  position: relative;
  padding-bottom: 0.6rem;
}

.header__links > a:not(:last-child) {
  margin-right: 2rem;
}

@media all and (max-width: 800px) {
  .header__links > a:not(:last-child) {
    margin-right: 0.1rem;
  }
}

@media all and (min-width: 801px) {
  .header__links > a:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.header__links > a:hover {
  color: var(--Dark_Blue);
}

.header__links > a::before {
  content: '';
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -16px;
  background: linear-gradient(to right,
      var(--Lime_Green) 0%,
      var(--Bright_Cyan) 70%,
      var(--Bright_Cyan) 100%);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  border-radius: 4.5px;
}

.header__links > a:hover::before {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--Dark_Blue), transparent);
  backdrop-filter: blur(0.5px);
  z-index: 2;
  visibility: hidden;
}

.mobile_menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 3rem);
  background: var(--White);
  padding: 1.625rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  z-index: 3;
  visibility: hidden;
}

.mobile_menu > a {
  display: block;
  color: var(--Dark_Blue);
  padding: 0.625rem;
  text-align: center;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 500ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }

  99% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 800ms ease-in-out forwards;
}